@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>@Model.Aluno</p>
<address>
    <strong>More information: </strong> <a href="https://github.com/jadiaelmonteiro/SalesWebMvc">github.com/jadiaelmonteiro</a>
</address>